<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kaishengit.mapper.DeviceRentDetailMapper">
    <insert id="batchSave">
        insert into t_device_rent_detail(deviceName,deviceUnit,devicePrice,
        num,totalPrice,rentId)values
        <foreach collection="list" item="obj" separator=",">
            (#{obj.deviceName},#{obj.deviceUnit},#{obj.devicePrice},
            #{obj.num},#{obj.totalPrice},#{obj.rentId})
        </foreach>
    </insert>
    <select id="findDeviceRentDetailByRentId" resultType="com.kaishengit.pojo.DeviceRentDetail">
        select*from t_device_rent_detail where rentId=#{rentId}
    </select>
</mapper>